<h1 class="header text-center align-content-center">Login with Email or Github</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="button-container flex-column d-flex gap-3">
        <button
          type="button"
          class="btn btn-primary"
          (click)="tryGitHubLogin()"
        >Login with GitHub
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="tryGoogleLogin()"
        >Login with Google
        </button>
      </div>
    </div>
  </div>
</div>
